/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {

    .container>.portfolio {
        width: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container>.portfolio>h1 {
        margin-bottom: -0.5vh;
        text-align: center;
    }

    .container>.portfolio>p {
        margin-top: 7vh;
        text-align: center;

        color: rgb(105, 105, 105);
    }

    .container>.portfolio img {
        width: 70%;
    }
}


/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
    /* Styles */
}